<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by description"
        [(ngModel)]="description"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="fuzzySearchDescription()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Coherency Reports List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let coherencyReport of coherencyReports; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCoherencyReport(coherencyReport, i)"
      >
        {{ coherencyReport.description }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="deleteAllCoherencyReports()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-coherency-report-details
      [viewMode]="true"
      [currentCoherencyReport]="currentCoherencyReport"
    ></app-coherency-report-details>
  </div>
</div>
